$background: #222222;
$main: #fff;
$print-main: #000;
$main-a1: rgba(255, 255, 255, 0.5);
$main-1: #aaa;
$print-main-1: #222;
$main-2: #777;
$print-main-2: #8b8b8b;
$main-3: #444;
$brand: #7648e6;
$brand--1: lighten(#7648e6, 10);
