@import '../../styles/vars';
@import '../../styles/mixins';

.aside {
	padding: 1.5em;
	background: url("./dot.svg");
	background-size: 8px;
	position: relative;

	@media print {
		background: none;
	}

	&__header {
		@media print {
			display: flex;
			align-items: center;
		}
	}

	&__avatar {
		width: 200px;
		height: 200px;
		border-radius: 50%;
		display: block;
		margin: auto;
		filter: grayscale(1);
		border: solid 10px $background;
		background: rgb(153, 153, 153);

		@include breakpoint(laptop) {
			width: 150px;
			height: 150px;
		}

		@include breakpoint(sm) {
			width: 120px;
			height: 120px;
		}

		@media print {
			margin: 0;
			box-shadow: none;
			margin-right: 25px;
			width: 120px;
			height: 120px;
			border: 0;
		}
	}

	&__title {
		font-size: inherit;
		margin: 0;
		margin-top: 1rem;

		@media print {
			margin: 0;
		}
	}

	&__name {
		margin: 0;
	}

	&__job {
		margin: 0;
		margin-top: 0.4em;
	}

	&__contacts {
		position: absolute;
		bottom: 1.5em;
		margin-top: 3em;
		font-style: inherit;

		@include breakpoint(ss) {
			position: initial;
		}

		@media print {
			position: initial;
		}
	}
}
