@import '../../styles/vars';
@import '../../styles/mixins';

.app {
	padding: 1.5em;
	display: flex;
	max-width: 1500px;
	margin: auto;

	@include breakpoint(ss) {
		display: block;
		padding: 0;
	}

	@media print {
		display: block;
		padding: 0;
	}

	&__aside {
		flex: none;
		position: sticky !important;
		top: 1.5em;
		height: calc(100vh - 6em);
		width: 300px;

		@include breakpoint(laptop) {
			width: 250px;
		}

		@include breakpoint(sm) {
			width: 180px;
		}

		@include breakpoint(ss) {
			height: initial;
			position: relative !important;
			width: initial;
			top: 0;
		}

		@media print {
			position: relative !important;
			height: initial;
			top: 0;
			width: initial;
		}
	}

	&__content {
		display: flex;

		@include breakpoint(lg) {
			display: block;
		}

		@media print {
			display: block;
		}
	}

	&__child {
		padding: 0 1.5em;
		width: 100%;

		@include breakpoint(lg) {
			width: initial;
		}

		@media print {
			page-break-before: always;
		}
	}
}
