@import '../../styles/vars';

.timeline {
	margin: 0.9em 0;

	&__item {
		padding: 0.1px 0;
		padding-left: 31px;
		position: relative;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			left: 11px;
			width: 3px;
			background: $main;

			@media print {
				background-color: $print-main;
			}
		}

		&::after {
			content: '';
			position: absolute;
			top: 20px;
			left: 6px;
			width: 13px;
			height: 13px;
			border-radius: 50%;
			background: $main;

			@media print {
				background-color: $print-main;
			}
		}

		&--first {
			padding-top: 0;

			&::before {
				top: 9px
			}

			&::after {
				top: 4px
			}
		}

		&--last {
			padding-bottom: 0;

			&::before {
				background: linear-gradient($main 19px, transparent);

				@media print {
					background: linear-gradient($print-main 19px, transparent);
				}
			}
		}
	}

	&__header {
		font-size: inherit;
	}

	&__title {
		margin: 0;
	}

	&__date {
		margin: 0;
		margin-top: 0.3em;
		color: $main-1;

		@media print {
			color: $print-main-1;
		}
	}

	&__description {}
}
